.navigation-bar a:focus-visible {
  outline: none;
}

section.navigation-bar {
  /*   border: 3px dashed; */
  display: flex;
  justify-content: space-between;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #142b3d 8%,
      /* Light Admiral Blue */ #102331 30%,
      /* Medium Admiral Blue */ #142b3d 40%,
      /* Dark Admiral Blue */ transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #1d3d55 8%,
      /* Light Admiral Blue */ #526a80 25%,
      /* Medium Admiral Blue */ #1d3d55 62.5%,
      /* Dark Admiral Blue */ #1d3d55 100%
    );

  text-shadow: 0 8px 16px rgba(1, 1, 1, 0.686);
  color: white;
}

.navigation-bar .first-half {
  /*   border: 2px dashed blue; */
  width: 85%;
  text-transform: uppercase;
}

.navigation-bar .first-half li:hover {
  color: #3991e8f9;
}

.navigation-bar .navigation-list {
  /*   border: 3px solid pink; */
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding-left: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  align-items: center;
}

.navigation-list li {
  /*   border: 3px dashed cyan; */
  height: 70%;
  padding: 10px;
  text-align: center;
}

.navigation-list a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.navigation-bar .navigation-list > li {
  display: inline-block;
  color: white;
  background: red;
}

.navigation-bar .second-half {
  width: 25%;
  display: flex;
  flex-direction: row;
}

.navigation-bar .second-half a:nth-child(1) {
  text-decoration: none;
  width: 50%;
}

.navigation-bar > .second-half .register-now-btn {
  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 15px 0px;
  color: white;
  text-shadow: 0 8px 16px rgba(1, 1, 1, 0.686);
  color: white;

  cursor: pointer;
}

.navigation-boxes .car-type {
  width: 200px;
  height: 100px;
  position: relative;
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
}

.second-li-container {
  position: relative;
  z-index: 20;
}

.navigation-bar .navigation-boxes .car-type img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.navigation-bar .car-type span {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 10px;
  letter-spacing: 3px;
}

.navigation-bar .first-li-container {
  /*   border: 10px dashed; */
  transition: all 400ms ease-in-out;
}

.navigation-bar .car-category-wrapper {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60%;
  /*   border: 3px dotted purple; */
  padding: 30px 0px 20px 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  transition: all 100ms ease-in;
  z-index: 10;
}

.navigation-bar .first-li-container:hover + .car-category-wrapper {
  opacity: 1;
  visibility: visible;
}

.navigation-bar .car-category-wrapper:hover {
  opacity: 1;
  visibility: visible;
}

.navigation-bar .category-car-box {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  position: relative;
}

.navigation-bar .suv-container {
  background: linear-gradient(
      360deg,
      rgba(23, 18, 0, 1) 0%,
      rgba(0, 212, 255, 0) 58%
    ),
    url('../../assets/nav-images/bmw-x5.avif') no-repeat center;
  background-size: cover;
}

.navigation-bar .luxury-container {
  background: linear-gradient(
      360deg,
      rgba(23, 18, 0, 1) 0%,
      rgba(0, 212, 255, 0) 58%
    ),
    url('../../assets/nav-images/luxury.avif') no-repeat center;
  background-size: cover;
  transition-delay: 250ms;
}

.navigation-bar .sports-container {
  background: linear-gradient(
      360deg,
      rgba(23, 18, 0, 1) 0%,
      rgba(0, 212, 255, 0) 58%
    ),
    url('../../assets/nav-images/sports-car.avif') no-repeat center;
  background-size: cover;
  transition-delay: 500ms;
}

.navigation-bar .exotic-container {
  background: linear-gradient(
      360deg,
      rgba(23, 18, 0, 1) 0%,
      rgba(0, 212, 255, 0) 58%
    ),
    url('../../assets/car-images/hatch.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  transition-delay: 750ms;
}

.navigation-bar .category-car-box .category-title {
  position: absolute;
  bottom: 15px;
  left: 20px;
  letter-spacing: 10px;
}

.navigation-bar .second-li-container li {
  padding: 15px 0;
}

.car-brands-list-wrapper {
  position: relative;
  z-index: 20;
}

.navigation-bar .car-brands-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  left: -90%;
  top: 30%;
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out;
  z-index: 10;
}

.navigation-bar .car-brand {
  background: #eee;
  display: flex;
  align-items: center;
  width: 200px;
  height: 100px;
  transition: all 100ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navigation-bar .car-brand:hover {
  background: #fff;
}

.navigation-bar .car-brand img {
  width: 40px;
  margin-left: 15px;
}

.navigation-bar .car-brand span {
  margin-left: 5%;
  color: #292f3b;
}

.navigation-bar .car-brand:hover span {
  color: #042a50ca;
}

.navigation-bar .second-li-container:hover + .car-brands-container {
  opacity: 1;
  visibility: visible;
  transition: all 700ms ease-in-out;
  z-index: 10;
}

.navigation-bar .car-brands-container:hover {
  opacity: 1;
  visibility: visible;
}

.first-li-container.navigation-boxes,
.third-li-container.navigation-boxes,
.fourth-li-container.navigation-boxes,
.fifth-li-container.navigation-boxes,
.sixth-li-container.navigation-boxes,
.seventh-li-container.navigation-boxes {
  position: relative;
}

@media only screen and (max-width: 942px) {
  .navigation-bar .car-category-wrapper {
    top: 70%;
  }

  .navigation-bar .car-brands-container {
    top: 45%;
  }
}

@media only screen and (max-width: 768px) {
  section.navigation-bar {
    display: none;
  }
}

/* mobile navbar */
nav.mobile {
  background: #2c3e50;
  height: 50px;
  padding: 0 16px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

nav.mobile a {
  text-decoration: none;
}

nav.mobile li {
  list-style-type: none;
}

nav.mobile ul {
  padding-left: 3%;
  color: white;
}

nav.mobile .m-menu__checkbox {
  display: none;
}

nav.mobile label.m-menu__toggle {
  cursor: pointer;
}

nav.mobile .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
  width: calc(100vw - 30px);
  height: 500px;
  -moz-transform: translate3d(-450px, 0, 0);
  -o-transform: translate3d(-450px, 0, 0);
  -ms-transform: translate3d(-450px, 0, 0);
  -webkit-transform: translate3d(-450px, 0, 0);
  transform: translate3d(-450px, 0, 0);
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  color: white;
  background: #2c3e50;
}

nav.mobile .m-menu__overlay {
  background: #2c3e50;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

nav.mobile .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

nav.mobile .m-menu__header span {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

nav.mobile .m-menu .m-menu {
  -moz-transform: translate3d(480px, 0, 0);
  -o-transform: translate3d(480px, 0, 0);
  -ms-transform: translate3d(480px, 0, 0);
  -webkit-transform: translate3d(480px, 0, 0);
  transform: translate3d(480px, 0, 0);
}

nav.mobile .m-menu ul {
  height: 100%;
  overflow-y: auto;
}

nav.mobile .m-menu ul li a {
  border: none !important;
  margin: 0 !important;
  text-decoration: none;
}

nav.mobile .m-menu ul li a,
nav .m-menu ul li label {
  display: block;
  text-align: left;
  line-height: 47px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  margin-left: 20px;
}

nav.mobile .m-menu ul li label.a-label__chevron::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}

nav.mobile .m-menu ul li .-invisible {
  border-bottom: 0;
}

nav.mobile .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

nav.mobile .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
}

nav.mobile .m-menu__checkbox:checked ~ .m-menu {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mobile-nav-wrapper {
  display: none;
  justify-content: space-between;
  background: linear-gradient(132deg, #6b6c6e 2%, #2c3e50 100%);
  align-items: center;
  gap: 80px;
}

.mobile-nav-wrapper .mobile-logo-wrapper {
  cursor: pointer;
}

.mobile-nav-wrapper .mobile-logo-wrapper .mobile-logo {
  max-width: 300px;
  width: 80%;
  float: right;
  margin-right: 10px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .mobile-nav-wrapper {
    display: flex;
  }
}
